@tailwind utilities;

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .text-max {
    @apply overflow-hidden text-ellipsis whitespace-nowrap;
  }

  .h-text-max {
    @apply overflow-hidden text-ellipsis whitespace-normal;
  }

  .btn-size-s {
    @apply h-32 px-8 py-12 text-12;
  }

  .btn-size-m {
    @apply h-40 p-12 text-13;
  }

  .btn-size-l {
    @apply h-48 px-14 py-20 text-14;
  }

  .btn-icon {
    @apply h-32 w-32 p-8;
  }

  .color-yellow {
    @apply bg-yellow-500 text-black-900 hover:bg-yellow-800;
  }
  .color-yellow:disabled {
    @apply bg-yellow-200 text-white;
  }

  .color-white {
    @apply bg-none text-black-900 hover:bg-black-025;
  }
  .color-white:disabled {
    @apply bg-black-025 text-black-070;
  }

  .color-black {
    @apply bg-black-900  text-white hover:bg-black-750;
  }
  .color-black:disabled {
    @apply bg-black-050 text-black-150;
  }

  .border-gray {
    @apply border-[1px] border-solid border-black-070 text-black-900 hover:bg-black-025;
  }
  .border-gray:disabled {
    @apply bg-black-025 text-black-070;
  }

  .border-yellow {
    @apply border-[1px] border-solid border-yellow-500 text-black-900 hover:bg-yellow-100;
  }
  .border-yellow:disabled {
    @apply bg-yellow-100 text-yellow-200;
  }

  /* ToDo : 컬러 + 사이즈 조합으로 변경함, 협의 후 삭제 */
  /* .btn-small-default {
    @apply h-32 bg-yellow-500 bg-yellow-500 p-8 text-14 hover:bg-yellow-800 disabled:bg-yellow-200;
  }

  .btn-medium-default {
    @apply h-40 bg-yellow-500 bg-yellow-500 p-12 text-14 hover:bg-yellow-800 disabled:bg-yellow-200;
  }

  .btn-large-default {
    @apply h-48 bg-yellow-500 px-18 py-14 text-16 hover:bg-yellow-800 disabled:bg-yellow-200;
  }

  .btn-border-medium {
    @apply border border-solid border-black-070 p-12 text-14 hover:bg-black-025 disabled:text-black-070;
  }  */

  .btn-pagination-default {
    @apply h-24 w-24 bg-white px-8 py-3 text-black-500 hover:bg-black-025 active:bg-yellow-500 active:font-normal active:text-black-900 onlyMobile:text-13;
  }

  .btn-text-default {
    @apply py-4 text-14 hover:underline hover:underline-offset-2 disabled:text-black-100 onlyMobile:text-12;
  }

  /* input */
  .input-default {
    @apply border-black-070 focus:border-yellow-500;
  }

  .input-select-default {
    @apply flex items-center justify-between rounded-lg border-[1px] border-solid px-18 py-16 text-left text-14;
  }

  .input-text {
    @apply ml-4 mt-8 text-left text-12;
  }
  .input-array {
    @apply ml-[3.3%] mr-[3.3%] flex w-[100%] flex-col;
  }

  .input-comp {
    @apply h-50 w-242 rounded-lg border-[1px] border-solid border-blue-500 px-18 py-16 text-14;
  }

  /* input btn */
  .search-input-outline {
    @apply flex justify-between rounded-lg border-[1px] border-solid py-8 pl-18 pr-8;
  }

  .search-input {
    @apply text-14 outline-none;
  }

  .search-input-btn {
    @apply flex h-32 w-32 items-center justify-center rounded-lg text-10 hover:bg-black-025;
  }

  .tab-default {
    @apply inline h-39 py-10 text-16 active:border-b-4 active:border-yellow-500;
  }

  .pin-default {
    @apply inline-block max-w-[260px] rounded-[3.125rem] border-2 border-black-900 px-16 py-8 hover:font-bold hover:shadow-pinShadow active:bg-black-900 active:font-bold active:text-white;
  }

  .upload-image {
    @apply flex cursor-pointer items-center justify-center rounded-lg bg-black-050;
  }
  .checkbox-button {
    @apply h-20 w-20 rounded-md border border-solid border-black-070 bg-center bg-no-repeat hover:border-yellow-500 peer-checked:bg-yellow-500 peer-checked:bg-[url('../images/check.svg')];
  }

  .radio-button {
    @apply h-20  w-20 rounded-full border border-solid border-black-070 bg-center bg-no-repeat hover:border-yellow-500 peer-checked:bg-yellow-500 peer-checked:bg-[url('../images/circle.svg')] peer-disabled:bg-black-050;
  }

  .label-disabled {
    @apply peer-disabled:text-black-070;
  }

  .list-title {
    @apply text-left text-14 font-bold text-black-900 md:text-18;
  }

  .list-content {
    @apply text-left text-12 text-black-900 md:text-16;
  }

  .list-gray-small {
    @apply text-left text-12 text-black-350 md:text-14;
  }

  .list-notice-image {
    @apply h-136 w-136 shrink-0 rounded-xl bg-black-050 pr-24 onlyMobile:h-96 onlyMobile:w-96;
  }

  .list-user-image {
    @apply h-40 w-40 shrink-0 rounded-xl bg-black-050 pr-24;
  }

  .list-flex {
    @apply flex items-center justify-between;
  }

  .list-line {
    @apply after:absolute after:right-0 after:top-1 after:inline-block after:h-14 after:w-1 after:bg-black-070 after:onlyMobile:top-[2px];
  }

  .community-tab-on {
    @apply mr-20 border-b-[4px] border-yellow-500 text-20 font-bold onlyMobile:text-18 onlyMini:text-16;
  }

  .community-tab-off {
    @apply mr-20 text-20 text-black-350 onlyMobile:text-18 onlyMini:text-16;
  }

  /* login line 생성 */
  .login-line {
    @apply flex-center text-max my-24 text-12 text-black-350 before:mr-16 before:inline-block before:h-1 before:w-[90%] before:bg-black-070 after:ml-16 after:inline-block after:h-1 after:w-[90%] after:bg-black-070;
  }

  .login-card {
    @apply flex w-584 flex-col rounded-2xl bg-white p-32 shadow-cardShadow;
  }

  .login-m-align {
    @apply flex items-start justify-stretch;
  }

  /* 유저이름 옆 유저 프로필 사진 h,w는 추가로 입력 필요 */
  .user-profile {
    @apply flex shrink-0 items-center justify-center overflow-hidden rounded-[8px];
  }
  .user-profile img {
    @apply h-full w-full object-cover object-center;
  }

  .user-profile-small {
    @apply flex h-16 w-16 shrink-0 items-center justify-center overflow-hidden rounded-[4px];
  }
  .user-profile-small img {
    @apply h-full w-full object-cover object-center;
  }

  .write-title {
    @apply text-18 font-bold text-black-900 onlyMobile:text-16;
  }
  .write-sub-title {
    @apply mb-15 text-14 text-black-350 onlyMobile:text-12;
  }

  /* 유치원 상세 영역 */
  .sticky-card {
    @apply sticky flex w-full flex-col rounded-2xl bg-white p-24 shadow-stickyShadow;
  }

  .content-line {
    @apply flex flex-col border-t-[1px] border-black-070 py-48 text-16 onlyMobile:py-32 onlyMobile:text-14;
  }

  .dropdown-box {
    @apply absolute left-0 flex flex-col items-start justify-center rounded-[10px] bg-white shadow-dropDownShadow;
  }
  .dropdown-ul {
    @apply max-h-216 w-full overflow-hidden overflow-y-scroll px-8 py-12 text-left;
  }
}
