@tailwind utilities;

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .btn-size-s {
    @apply h-32 px-8 py-12 text-14;
  }

  .btn-size-m {
    @apply h-40 p-12 text-14;
  }

  .btn-size-l {
    @apply h-48 px-14 py-20 text-16;
  }

  .btn-icon {
    @apply h-32 w-32 p-8;
  }

  .color-yellow {
    @apply bg-yellow-500 text-black-900 hover:bg-yellow-800;
  }
  .color-yellow:disabled {
    @apply bg-yellow-200 text-white;
  }

  .color-white {
    @apply bg-none text-black-900 hover:bg-black-025;
  }
  .color-white:disabled {
    @apply bg-black-025 text-black-070;
  }

  .color-black {
    @apply bg-black-900  text-white hover:bg-black-070;
  }
  .color-black:disabled {
    @apply bg-black-050 text-black-150;
  }

  .border-gray {
    @apply border-2 border-solid border-black-070 text-black-900 hover:bg-black-025;
  }
  .border-gray:disabled {
    @apply bg-black-025 text-black-070;
  }

  .border-yellow {
    @apply border-2 border-solid border-yellow-500 text-black-900 hover:bg-yellow-100;
  }
  .border-yellow:disabled {
    @apply bg-yellow-100 text-yellow-200;
  }

  /* ToDo : 컬러 + 사이즈 조합으로 변경함, 협의 후 삭제 */
  /* .btn-small-default {
    @apply h-32 bg-yellow-500 bg-yellow-500 p-8 text-14 hover:bg-yellow-800 disabled:bg-yellow-200;
  }

  .btn-medium-default {
    @apply h-40 bg-yellow-500 bg-yellow-500 p-12 text-14 hover:bg-yellow-800 disabled:bg-yellow-200;
  }

  .btn-large-default {
    @apply h-48 bg-yellow-500 px-18 py-14 text-16 hover:bg-yellow-800 disabled:bg-yellow-200;
  }

  .btn-border-medium {
    @apply border border-solid border-black-070 p-12 text-14 hover:bg-black-025 disabled:text-black-070;
  } */

  .btn-pagination-default {
    @apply h-24 w-24 bg-white px-8 py-3 text-black-500 active:bg-yellow-500 active:font-normal active:text-black-900;
  }

  .btn-text-default {
    @apply p-4 text-14 hover:underline hover:underline-offset-2 disabled:text-black-100;
  }

  /* input */
  .input-default {
    @apply border-black-070 focus:border-yellow-500;
  }

  .input-select-default {
    @apply flex h-50 w-230 items-center justify-between rounded-lg border-2 border-solid px-18 py-16 text-left text-14;
  }
  .input-text {
    @apply mt-1 text-left text-12;
  }
  .input-array {
    @apply flex w-full mr-80 ml-80 flex-col;
  }

  .input-comp {
    @apply h-50 w-242 rounded-lg border-2 border-solid border-blue-500 px-18 py-16 text-14;
  }

  /* input btn */
  .search-input-outline {
    @apply flex justify-between rounded-lg border-2 border-solid py-8 pl-18 pr-8;
  }

  .search-input {
    @apply text-14 outline-none;
  }

  .search-input-btn {
    @apply flex h-32 w-32 items-center justify-center rounded-lg text-10;
  }

  .tab-default {
    @apply inline h-39 py-10 text-16 active:border-b-4 active:border-yellow-500;
  }

  .pin-default {
    @apply max-w-200 rounded-[3.125rem] border-2 border-black-900 px-16 py-8 hover:font-bold hover:shadow-pinShadow active:bg-black-900 active:font-bold active:text-white;
  }

  .upload-image {
    @apply flex cursor-pointer items-center justify-center rounded-lg bg-black-050;
  }
  .checkbox-button {
    @apply h-20 w-20 rounded-md border border-solid border-black-070 bg-center bg-no-repeat hover:border-yellow-500 peer-checked:bg-yellow-500 peer-checked:bg-[url('../images/check.svg')];
  }

  .radio-button {
    @apply h-20  w-20 rounded-full border border-solid border-black-070 bg-center bg-no-repeat hover:border-yellow-500 peer-checked:bg-yellow-500 peer-checked:bg-[url('../images/circle.svg')];
  }
}
