@tailwind utilities;

@layer utilities {
  .btn-small-default {
    @apply h-32 p-8 bg-yellow-500 rounded-md text-14 flex justify-center items-center;
  }
  .btn-small-default:hover {
    @apply bg-yellow-800;
  }
  .btn-small-disabled {
    @apply h-32 p-8  bg-yellow-200 rounded-md text-14 flex justify-center items-center text-white;
  }

  .btn-medium-default {
    @apply h-40 p-12 bg-yellow-500 rounded-md text-14 flex justify-center items-center;
  }

  .btn-medium-default:hover {
    @apply bg-yellow-800;
  }
  .btn-medium-disabled {
    @apply h-40 px-20 py-8 bg-yellow-200 rounded-md text-14 flex justify-center items-center text-white;
  }

  .btn-large-default {
    @apply h-48 px-18 py-14 bg-yellow-500 rounded-md text-16 flex justify-center items-center;
  }
  .btn-large-default:hover {
    @apply bg-yellow-800;
  }
  .btn-large-disabled {
    @apply h-48 px-18 py-14 bg-yellow-200 rounded-md text-16 flex justify-center items-center text-white;
  }

  .btn-pagination-default {
    @apply w-24 h-24 px-8 py-3 rounded-md text-black-500 flex justify-center items-center bg-white;
  }
  .btn-pagination-default:hover {
    @apply text-yellow-500 font-bold;
  }
  .btn-pagination-default:active {
    @apply text-black-900 bg-yellow-500 font-normal;
  }

  .btn-text-default {
    @apply p-4 text-14 flex justify-center items-center;
  }
  .btn-text-default:hover {
    @apply underline underline-offset-2;
  }
  .btn-text-disabled {
    @apply p-4 text-14 text-black-100 flex justify-center items-center;
  }

  .btn-border-medium {
    @apply p-12 text-14 border border-solid rounded-md border-black-070 flex justify-center items-center;
  }
  .btn-border-medium:hover {
    @apply bg-black-025;
  }
  .btn-border-disabled {
    @apply p-12 text-14 border border-solid rounded-md border-black-070 bg-black-025 flex justify-center items-center text-black-070;
  }
  .input-default {
    @apply h-50  text-14 px-18 py-16 border-2 border-solid border-black-070 rounded-lg w-242;
  }
  .input-default:focus {
    @apply outline-none border-yellow-500;
  }
  .input-array {
    @apply flex flex-col;
  }
  .input-error {
    @apply h-50 text-14 px-18 py-16 border-2 border-solid border-red-400 rounded-lg w-242;
  }
  .input-error:focus {
    @apply outline-none;
  }
  .input-error-text {
    @apply mt-1 text-12 text-left text-red-400;
  }
  .input-comp {
    @apply h-50 text-14 px-18 py-16 border-2 border-solid border-blue-500 rounded-lg w-242;
  }
  .input-comp:focus {
    @apply outline-none;
  }
  .input-comp-text {
    @apply mt-1 text-12 text-left text-blue-500;
  }
  .input-comp-text:focus {
    @apply border-yellow-500;
  }
  /* input btn */
  .search-input-outline {
    @apply flex justify-between py-8 pl-18 pr-8 border-2 border-solid border-black-070 rounded-lg w-242;
  }
  .search-input-outline-focus {
    @apply flex justify-between py-8 pl-18 pr-8 border-2 border-solid border-yellow-500 rounded-lg w-242;
  }

  .search-input {
    @apply text-14;
  }
  .search-input:focus {
    @apply outline-none;
  }
  .search-input-btn {
    @apply w-32 h-32 flex justify-center items-center bg-yellow-500 rounded-lg text-10;
  }

  .tab-default {
    @apply inline h-39 text-16 py-10;
  }

  .tab-default:active {
    @apply border-b-4 border-yellow-500;
  }

  .pin-default {
    @apply max-w-200 border-2 border-black-900 px-16 py-8 rounded-[50px];
  }

  .pin-default:active {
    @apply bg-black-900 text-white font-bold;
  }
}
